# Environment (DEV, STAGING, or PROD)
ENV=DEV

# Portal API URLs for DEV environment
DEV_PORTAL_API_URL=https://api.dev.portalhq.io
DEV_PORTAL_MPC_CLIENT_URL=https://mpc-client.dev.portalhq.io:443
DEV_PORTAL_EX=https://portalex-mpc.dev.portalhq.io

# Portal API URLs for STAGING environment
STAGING_PORTAL_API_URL=https://api.staging.portalhq.io
STAGING_PORTAL_MPC_CLIENT_URL=https://mpc-client.staging.portalhq.io:443
STAGING_PORTAL_EX=https://portalex-mpc.staging.portalhq.io

# Portal API URLs for PROD environment
PROD_PORTAL_API_URL=https://api.portalhq.io
PROD_PORTAL_MPC_CLIENT_URL=https://mpc-client.portalhq.io:443
PROD_PORTAL_EX=https://portalex-mpc.portalhq.io

# Ethereum RPC URL
ETH_SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/YOUR_ALCHEMY_API_KEY

# BlockCypher configuration
BLOCKCYPHER_API_URL=https://api.blockcypher.com/v1/btc/test3
BLOCKCYPHER_TOKEN=YOUR_BLOCKCYPHER_TOKEN

# Bitcoin configuration
BITCOIN_FEE_RATE=10
BITCOIN_DUST_LIMIT=546

# Tatum configuration
TATUM_API_KEY=YOUR_TATUM_API_KEY
TATUM_API_URL=https://api.tatum.io/v3
